body{
  background-color: black;
  padding-bottom:30px;
}


.home-hero img#splash{
  position:fixed;
  top:0;
  left:0;
  max-width: 100%;
  height: auto;
  width: 100%; /* ie8 */
  min-width: 625px;
  min-height: 468px;
  overflow:hidden;
  z-index:-1;
}

.home-hero {
	text-align: center;
	font-size: 36pt;
	font-family: "Verdana" ,"Geneva", "Helvetica";
	color:white;
}

.about h1{
  color: #B8CEE6;
}
.about{
  color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}
.footer p{
  text-align: right;
  padding-top: 5px;
  color: #999;
}