<!-- Container for movie -->
<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <!-- Form for movie-->
    <div class="thumbnail plain" title="Click here to edit item">
        <!-- Allows interactive container for movie-->
        <div class="thumbnail-container">
            <a href="#movies/<%= _id %>" class="plain">
                <!-- Source to get movie-->
                <video preload="none" class="img-responsive" controls poster="<%= poster %>">
                    <source src="<%= trailer %>" type="video/mp4" />
                </video>
                <!-- Movie information-->
                <div class="row">
                    <div class="thumbnail-swatch col-xs-3">
                        <a href=""
                    </div>
                    <div class="thumbnail-text col-xs-9">
                        <div><b><%= title %></b> (<%= released %>)</div>
                        <div><b>Directed by: </b> <%= director %></div>
                        <div><b>Starring: </b> <%= starring.join(', ') %></div>
                        <div><b>Genres: </b> <%= genre.join(', ') %></div>
                        <div><b>Runtime: </b><%= duration %>min <b>Rating: </b> <%= rating %></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>