<!-- Container for movie -->
<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <!-- Form for movie-->
    <div class="thumbnail plain">
        <!-- Allows interactive container for movie-->
        <div class="thumbnail-container">
            <!-- Movie information-->
            <div class="thumbnail-text">
                <img src="<% if (freshness) { %> /img/fresh.gif <% } else { %> /img/rotten.gif <% } %> ">
                <b>Text: </b> <%= reviewText %><br/>
                <img src="/img/critic.gif"><b>Name: </b> <%= reviewName %><br/>
                <b>Affiliation: </b> <%= reviewAffil %><br/>
            </div>
        </div>
    </div>
</div>
