<!-- Container for movie -->
<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <!-- Form for movie-->
    <div class="thumbnail plain">
        <!-- Allows interactive container for movie-->
        <div class="thumbnail-container">
            <!-- Movie information-->
            <div class="thumbnail-text">
                <div class="panel panel-default">
                <img src="<% if (freshness) { %> /img/fresh.gif <% } else { %> /img/rotten.gif <% } %> ">
                <%= reviewText %>
                </div>
                <img src="/img/critic.gif">
                <i><%= reviewAffil %></i><br/>
                <i><%= reviewName %></i>
            </div>
        </div>
    </div>
</div>
