
<!-- format for each category in movie form-->

    <!-- Labels and input boxes for movie form-->

    <div class="form-group">
        <input type="radio" name="freshness" value="1" <% if (freshness) { %>  checked <% } %>>Fresh<img src="/img/fresh.gif">
        <input type="radio" name="freshness" value="0" <% if (!freshness) { %>  checked <% } %>>Rotten<img src="/img/rotten.gif">
        <span class="score">
            <b>currently rated :</b>
            <img id="freshnessimg"/>
            <span id="freshness"></span>
        </span>
    </div>
    <div class="form-group">
        <label for="reviewText" class="control-label">Enter your review</label>
        <div>
            <textarea class="col-xs-12" name="reviewText" rows="5"><%= reviewText %></textarea>
            <span class="help-block col-xs-12"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label for="reviewName" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-4">
            <input type="text" class="col-xs-12" name="reviewName" value="<%= reviewName %>" />
            <span class="help-block col-xs-12"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="reviewAffil" class="col-xs-2 control-label">Affiliation</label>
        <div class="col-xs-4">
            <input type="text" class="col-xs-12" name="reviewAffil" value="<%= reviewAffil %>" />
            <span class="help-block col-xs-12"></span>
        </div>
    </div>

<input type="button" id="reviewsave" class="btn btn-success save" name="save" value="Review Movie" />
<br></br>

