<!-- Container for movie -->
<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <!-- Form for movie-->
    <div class="review plain">
        <!-- Allows interactive container for movie-->
        <div class="review-container">
            <!-- Movie information-->
            <div class="review-text">
                <div class="panel panel-default">
                <img src="<% if (freshness) { %> /img/fresh.gif <% } else { %> /img/rotten.gif <% } %> ">
                <%= reviewText %>
                </div>
                <div class="col-xs-2">
                    <img src="/img/critic.gif">
                </div>
                <div class="col-xs-10">
                    <i><%= reviewAffil %></i><br/>
                </div>
                <div class="col-xs-12">
                    <i><%= reviewName %></i>
                </div>
                
            </div>
        </div>
    </div>
</div>
