<div class="col-xs-12 col-sm-12">
    <div class="row">

        <movie-thumb class="col-xs-12 col-md-3" movie="vm.movie"></movie-thumb>

        <div id="reviewer" class="col-xs-12 col-md-9">
            <div class="form-group panel panel-default">
                <input type="radio" name="freshness" value="1" ng-model="vm.newReview.freshness">Fresh<img
                    src="/img/fresh.gif">
                <input type="radio" name="freshness" value="0" ng-model="vm.newReview.freshness">Rotten<img
                    src="/img/rotten.gif">
            </div>
            <div class="form-group">
                <label for="reviewText" class="control-label">Enter your review</label>
                <div>
                    <textarea class="col-xs-12" name="reviewText" rows="5"
                              ng-model="vm.newReview.reviewText"></textarea>
                    <span class="help-block col-xs-12"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="reviewName" class="col-xs-2 control-label">Name</label>
                <div class="col-xs-4">
                    <input type="text" class="col-xs-12" name="reviewName" ng-model="vm.newReview.reviewName"/>
                    <span class="help-block col-xs-12"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="reviewAffil" class="col-xs-2 control-label">Affiliation</label>
                <div class="col-xs-4">
                    <input type="text" class="col-xs-12" name="reviewAffil" ng-model="vm.newReview.reviewAffil"/>
                    <span class="help-block col-xs-12"></span>
                </div>
            </div>

            <input type="button" id="reviewsave" class="btn btn-success save" name="save" value="Review Movie"
                   ng-click="vm.saveReview()"/>
            <br></br>
        </div>

    </div>
    <div class="row">
        <div ng-repeat="review in vm.reviews" id="reviewthumbs">
            <div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <!-- Form for movie-->
                <div class="review plain">
                    <!-- Allows interactive container for movie-->
                    <div class="review-container">
                        <!-- Movie information-->
                        <div class="review-text">
                            <div class="panel panel-default">
                                <img ng-src="{{ review.freshness? '/img/fresh.gif' : '/img/rotten.gif' }}">
                                <q>{{ review.reviewText }}</q>
                            </div>
                            <p>
                                <img src="img/critic.gif" alt="Critic"/>{{review.reviewAffil}}<br>
                                <span>{{ review.reviewName }}</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>