<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6" accept-charset="UTF-8">
  <div class="thumbnail plain col-xs-12">
    <div class="moviedetails">  <!-- keep Reviews-link with details -->
        <div class="video-container" data-toggle="tooltip" data-placement="bottom" title="click here to play movie trailer">
        <video class="trailer" controls poster="<%- poster %>"
        preload="none">  <!-- none b/c value "metadata" stalls Chrome -->
        <% if (trailer) { %> <source src="<%-trailer%>" /> <% } %>
            Your browser does not support the <code>video</code> element.
        </video>
        </div>
      
      <!-- Gets ratings for the movie and puts it in a container-->
      <a href="#movies/<%- _id %>/reviews">
        <div class="review-swatch-container col-xs-4" data-toggle="tooltip" data-placement="top" title="click here to review movie">
          <img class="review-swatch-bg" 
          src="<%- getReviewImage(freshVotes,freshTotal) %>">
          <div class="review-swatch-details"> 
            <%- getReviewText(freshVotes,freshTotal) %> </br>
          </div>
        </div>
      </a>
      <a href="#movies/<%- _id %>">
        <div class="details col-xs-8" data-toggle="tooltip" data-placement="top" title="click here to edit movie">
          <p><strong><%- title %></strong>
          (<%- released %>)</p>
          <p><strong>Directed by: </strong><%- director %></p>
          <p><strong>Starring: </strong><%- formatArray(starring) %></p>
          <p><strong>Genres: </strong><%- formatArray(genre) %> </p>
          <p><strong>Runtime:</strong> <%- duration %>min <strong> Rating:</strong> <%- rating %></p>
        </div>
      </a>
    </div>
  </div>
</div>