<div ng-show="!vm.user.authenticated">
<div class="form-group">
    <input id="signin-username" class="signin-username signinput"
	  style="margin-bottom: 8px;" type="text"
	  name="username" autofocus placeholder="Username" size="30"
	  required title="Username is required"
	  autofocus placeholder="Username" size="30" ng-model="vm.user.username"/>
    <span class="help-block"></span>
</div>

<div class="form-group">
    <input id="signin-password" class="signin-password signinput"
	  style="margin-bottom: 8px;" type="password"
	  name="password" placeholder="Password" size="30" ng-model="vm.user.password" />
    <span class="help-block"></span>
</div>

<input id="remember" class="signin signinput"
    style="float: left; margin-right: 10px;"
    type="checkbox" name="remember" value="1" ng-model="vm.remember"/>
<label class="signin string optional signinput"
    for="user_remember_me">remember me</label>
    <div class="form-actions">
        <a href="#" class="btn btn-primary signinSubmit" ng-click="vm.signin()">Sign In</a>
    </div>
</div>

<div ng-show="vm.user.authenticated">
<div id="signoutUser"><b>{{vm.user.username}}</b></div>  <!-- placeholder for signout form -->
<div class="form-actions">
    
    <a href="#"
    class="btn btn-primary signoutSubmit" ng-click="vm.signout()">Sign Out</a>
</div>

</div>
